i {
  cursor: pointer;
  font-size: 20px;
}

.blueIcon{
  color: #008ecf;
}
.chatsOuterContainer {
  height: 100vh;
  position: relative;
}
.brandContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 35px;
  padding: 6px;
}
.brandContainer > i,
h3 {
  padding: 4px;
  font-size: 18px;
}
.chatsInnerWrapper {
  display: flex;
  height: 100%;
}
.sideMenu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  width: 60px;
  border-right: 2px solid #26282e;
}
.myProfile {
  position: absolute;
  bottom: 5px;
  border-right: 50%;
}
.myProfile > img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.myProfile > img:hover {
  cursor: pointer;
}
.sideMenu > i {
  padding: 10px 10px;
  margin: 5px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 10px;
  background: #008ecf;
}
.chatsInnerContainer {
  display: flex;
  width: 100%;
}
.chatNames {
  position: relative;
  width: 25%;
  border-right: 1px solid #26282e;
}

.chatNamesWrapper {
  display: flex;
  margin: 20px 10px;
  flex-direction: column;
  overflow: auto;
  height: 87vh;
}
.chatNames > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  height: 70px;
}
.startChatting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  font-size: 22px;
}
.startChatting > p {
  font-size: 15px;
}
.chatRoom {
  position: relative;
  height: 100%;
  border-right: 2px solid #26282e;
}
.chatInfoActive {
  width: 55%;
}
.chatInfoInActive {
  width: 75%;
}
