.menuContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  border: 2px solid #008ecf;
  height: 480px;
  width: 420px;
  border-radius: 10px;
  z-index: 100;
  background-color: #1b1d24;
  bottom: 65px;
  left: 30px;
  transition: transform 0.3s ease-out;
  transform: translateX(-150%);
}
.profileMenuWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
}
.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 100%;
  border-right: 1px solid #26282e;
}
.options > ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.options > ul > li {
  text-align: center;
  padding: 5px;
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}
.options > ul > li:hover {
  background-color: #008ecf;
}
.active {
  background-color: #008ecf;
}
.themeToggle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  width: 65%;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}
.btnContainer > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 30px;
  font-size: 11px;
}

.slideRight {
  transform: translateX(10%);
}
.userAvatar {
  padding: 20px;
}
.userAvatar > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userInfo > p {
  font-size: 18px;
  padding: 10px;
  margin: 0;
}
.aboutMe {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  padding: 0px 10px;
}
.aboutMe > span {
  color: rgb(169, 172, 172);
}
.aboutMe > p {
  margin: 2px;
  font-size: 18px;
  text-align: center;
}

.passwordContainer {
  justify-content: center;
}

/* inputs */
.updatePassword {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  position: relative;
  margin: 30px;
}
.eyeIcon {
  position: absolute;
  right: 8px;
}
.updatePassword .label {
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
  top: 13px;
  transition: 0.3s;
  transform: translateY(-35px);
  pointer-events: none;
}

.input {
  width: 200px;
  height: 45px;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  background-color: transparent;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}
.input::file-selector-button {
  margin: 11px 0 0 0;
  color: dodgerblue;
  border-radius: 5px;
}
.input::file-selector-button:hover {
  cursor: pointer;
}
.input:focus {
  border: 1px solid #008ecf;
  color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}
.closeMenuIcon {
  display: none;
}
@media screen and (max-width: 550px) {
  .menuContainer {
    display: flex;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .profileMenuWrapper {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
  }

  .userContainer {
    width: 100%;
    height: 90%;
    justify-content: center;
  }
  .userContainer > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .updatePassword {
    width: 70%;
    margin: 15px;
  }
  .updatePassword > input {
    width: 100%;
  }
  .options {
    justify-content: center;
    height: 10%;
    width: 100%;
    border-top: 1px solid #26282e;
  }
  .options > ul {
    flex-direction: row;
  }
  .options > ul > li {
    padding: 8px;
    margin: 10px 35px;
    font-size: 0px;
  }
  .slideRight {
    transform: translateX(0%);
  }
  .closeMenuIcon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
  }
  .searchBarWrapper {
    width: 100% !important; 
  }
  .searchBarWrapper > div {
    width: 100%;
  }
}
